<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>

<div th:fragment="newApplicationPhase1">
    <div class="hero-unit">
        <h1>New Loan Application</h1>
    </div>

    <div class="container">
        <form action="#" th:action="@{/new}" method="post" th:object="${newLoanApplicationDto}" role="form">
            <div class="form-group">
                <label for="identificationNumber">Identification Number</label>
                <input type="text" class="form-control" id="identificationNumber" placeholder="Enter identification number" th:field="*{identificationNumber}"/>
                <span class="help-block" style="color: #a94442;" th:if="${errorFields!=null and #lists.contains(errorFields,'identificationNumber')}">Identification number is required</span>
            </div>
            <div class="form-group">
                <label for="amount">Loan Amount</label>
                <input type="text" class="form-control" id="amount" placeholder="Enter loan amount" th:field="*{amount}"/>
                <span class="help-block" style="color: #a94442;" th:if="${errorFields!=null and #lists.contains(errorFields,'amount')}">Invalid amount</span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
    </div>

</div>
<div th:fragment="newApplicationPhase2">
    <div class="hero-unit">
        <h1>New Loan Application</h1>
        <span>Identification not found. Enter your personal information</span>
    </div>

    <div class="container">
        <form action="#" th:action="@{/new}" method="post" th:object="${newLoanApplicationDto}" role="form">
            <input type="hidden" th:field="*{identificationNumber}" id="identificationNumber" />
            <input type="hidden" th:field="*{amount}" id="amount" />
            <input type="hidden" th:field="*{step}" id="step" />
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter first name" th:field="*{firstName}"/>
                <span class="help-block" style="color: #a94442;" th:if="${errorFields!=null and #lists.contains(errorFields,'firstName')}">First name is required</span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter last name" th:field="*{lastName}"/>
                <span class="help-block" style="color: #a94442;" th:if="${errorFields!=null and #lists.contains(errorFields,'lastName')}">Last name is required</span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
    </div>

</div>
</body>
</html>
